.features{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
}
.featuresItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;

}
.featuresImg{
    width: 100%;
    object-fit: cover;
}
.featuresTitles{
    position: absolute;
    bottom: 0;
}